# Dépendances
/node_modules
/src/uploads/*

# Fichiers d'environnement
.env

# Fichiers spécifiques macOS
.DS_Store

# Dossiers de logs
/logs

# Dossiers de build et de distribution
/build
/dist

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
